@import url(footer.css);
@import url(header.css);

.headerList{
    font-weight: bolder;
    font-size: larger;
    background-color: gold;

}

 td, th{
    border: 3px black solid;
    width: 200px;
    height: 60px;
    text-align: center;
    
    
    
}

table{
    width: 1000px;
    border-collapse: collapse;

}


